# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/dist-server
/tmp
/out-tsc
.env
private.key
public.key
ambiente.json
/keys
/logs

# dependencies
/node_modules